@{
    ViewBag.Title = "About";
}


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

<div class="w3-container w3-padding-32" id="about" style="text-align: justify;">
    <h2 class="w3-border-bottom w3-border-light-grey w3-padding-12"><strong>¿Quiénes somos?</strong></h2>
    <p>
        El estudio K. U. y Asociados desempeña sus funciones en la Provincia de Santa Fe, Argentina, con sede en la ciudad de Rafaela, donde ofrece asesoramiento jurídico integral en el marco empresarial.
    </p>
    <h3 class="w3-padding-12">Historia</h3>
    <p>Fue fundado por el Doctor Martín F. Rodriguez en el año 1983, incorporándose con el correr del tiempo distintos profesionales hasta alcanzar su composición actual. Todo ello acompañado del crecimiento del Estudio y en busca de una profundización de la eficiencia en la prestación de los servicios profesionales con disminución de los costos operativos.</p>
    <p>Actualmente el estudio cuenta con 15 personas, de las cuales podemos distinguir 7 abogados, 1 contador público, 1 administradora de recursos humanos y 1 secretaria.</p>
    <p>Las ramas en las que el estudio se desempeña son: Derecho penal, Relaciones domésticas, Derecho empresarial y comercial, Bienes raíces e Inmigración. Planeamos incorporar nuevas áreas de trabajo con el paso del tiempo.</p>

    <h3 class="w3-padding-12">Misión</h3>
    <p>Ser un estudio de abogados reconocido por su alta calidad en la asistencia jurídica y la profesionalidad de sus miembros, brindando seguridad  y confianza a través de soluciones integrales y adecuadas a las necesidades de cada cliente, con el compromiso del éxito en sus negocios. Asimismo, lograr la realización personal y profesional de los miembros del Estudio, dentro de los más altos estándares éticos y de excelencia.</p>
    <h3 class="w3-padding-12">Visión</h3>
    <p>Ser un estudio jurídico líder en el mercado legal argentino, consolidando su crecimiento con experiencia y eficiencia profesional, ofreciendo un servicio integral de calidad en asesoría y consultoría legal, con reconocido prestigio por sus valores y eficacia demostrada.</p>
    <h3 class="w3-padding-12">Valores</h3>
    <p>> Ética</p>
    <p>> Compromiso</p>
    <p>> Calidad</p>
    <p>> Confidencialidad</p>
    <h5 class="w3-padding-12"><strong>Consideramos que cada cliente es único y, por lo tanto, recibir asesoramiento personalizado con base en la discreción y la generación de resultados concretos que agreguen valor.</strong></h5>
</div>
