@{
    ViewBag.Title = "Home Page";
}

<div><img src="http://www.estudio-ofarrell.com.ar/wp-content/uploads/2015/10/slider-2.jpg" class="ls-bg" alt="Slide background" style="padding: 0px; 
    border-width: 0px; width:1660px; height:auto; margin-left: -380px; margin-top: -0px; margin-bottom: 48px; visibility:visible;">
</div>    
  
<hr />

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <a href="~/Home/Index">
                <img src="http://www.estudioracciatti.com.ar/img/estudio.jpg" width="263" heigth="185" alt="" />
            </a>
            <h3>El estudio</h3>
            <p>
                ¿Quiénes somos? Nuestra historia y valores. <br />
                Vision y misión
            </p>

            <p><a class="btn btn-default" href="~/Study/Index">Acceder</a></p>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <a href="~/Home/Index">
                <img src="http://www.estudioracciatti.com.ar/img/pc.jpg" width="263" heigth="185" alt="" />
            </a>
            <h3>Contacto</h3>
            <p>
                Ubicación y medios de contacto.
            </p>

            <p><a class="btn btn-default" href="~/Home/Index">Acceder</a></p>
        </div>
    </div>
</div>