@{
    ViewBag.Title = "El Estudio";
}

<div>
    <img src="http://www.estudio-ofarrell.com.ar/wp-content/uploads/2015/10/slider-2.jpg" class="ls-bg" alt="Slide background" style="padding: 0px;
    border-width: 0px; width:1660px; height:auto; margin-left: -380px; margin-top: -100px; margin-bottom: 48px; visibility:visible;">
</div>

<body id="1" style="text-align: justify">    
        <h2 class="text-center">El estudio K. U. y Asociados</h2>
        <h1> </h1>
        <p>El Estudio K. U. y Asociados desempeña sus funciones en la Provincia de Santa Fe, Argentina, con sede en la ciudad de Rafaela, donde ofrece asesoramiento jurídico integral en el marco empresarial. </p>

        <p> Insertar Historia <p>

        <p> Insertar mision vision y valores</p>    
</body>

